* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-weight: bold;
}

body {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-image: url("../img/stacked-peaks-haikei.png");
    background-repeat: no-repeat;
    background-size: cover;
}

form {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    text-transform: capitalize;
    border: 2px solid black;
    border-radius: 10px;
    padding: 30px;
    font-size: 25px;
    backdrop-filter: blur(10px);
    background-color: rgba(2, 2, 2, 0.3);
    color: white;
}


input {
    font-size: 25px;
    margin: 15px 0px;
    padding: 5px;
}

.output {
    margin: 5px 0px;
}

button {
    margin: 10px 0px;
    font-size: 25px;
    padding: 5px 0px;
}

.result {
    opacity: 0;
    transition: 0.5s;
}